body.contact{
  background-color: $color2;
  section{
    background: none;
    text-align: left;
    padding: 60px;

    input, textarea{
      color: white;
    }
    a{
      margin-left: 15px;
    }
    a:hover, a:focus, a:active{
      color: $color2;
    }
  }
}