<section>
  <h2>Work whith us.</h2>
  <p>Hire our experienced engineers for your product or service.</p>

  <form action="" id="contact-form">
    <div>
      <label>Name and Lastname</label>
      <input type="text" id="name">
    </div>

    <div>
      <label>Email</label>
      <input type="email" id="email">
    </div>

    <div>
      <label>Company Name</label>
      <input type="text" id="company">
    </div>

    <div>
      <label>Budget</label>
      <input type="number" min="1000" step="500" id="budget">
    </div>

    <div>
      <label>Product Description</label>
      <textarea name="" cols="40" rows="2" id="description"></textarea>
    </div>
    
    <button type="submit"><span>Get in Touch</span></button>
    <a href="/">Cancel</a>

  </form>
</section>