<section id="leadform">

  <div class="content-padding">
    <div class="row">
      <div id="content" class="small-11 medium-10 large-7 columns small-centered">
        <h2 class="title-margin">Got a product that needs building?</h2>
        <form action="" id="contact-form">
          <div class="row">
            <div class="small-5 columns"><h4>Name</h4></div>
            <div class="small-7 columns"><input type="text" id="name"></div>
          </div>

          <div class="row">
            <div class="small-5 columns"><h4>Email</h4></div>
            <div class="small-7 columns"><input type="email" id="email"></div>
          </div>

          <div class="row">
            <div class="small-5 columns"><h4>Phone</h4></div>
            <div class="small-7 columns"><input type="text" id="phone"></div>
          </div>

          <div class="row">
            <div class="small-5 columns"><h4>Company</h4></div>
            <div class="small-7 columns"><input type="text" id="company"></div>
          </div>

          <div class="row">
            <div class="small-5 columns"><h4>Type of Product</h4></div>
            <div class="small-7 columns"><input type="text" id="type-product"></div>
          </div>

          <div class="row">
            <div class="small-5 columns"><h4>Budget</h4></div>
            <div class="small-7 columns"><input type="text" id="budget"></div>
          </div>

          <div class="row">
            <div class="small-5 columns"><h4>Product Description</h4></div>
            <div class="small-7 columns"><textarea name="" cols="30" rows="5" id="description"></textarea></div>
          </div>

          <div class="row">
            <div class="small-5 columns"></div>
            <div class="small-7 columns">
              <button type="submit" class="button button-white button-bold button-thickborder">Get in Touch <img src="/images/button-arrowright-white@2x.png" alt="" class="button-icon"></button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns text-center">
        <a href="/"><img src="/images/form-mark@2x.png" alt="" class="leadform-logo"></a>
      </div>
    </div>
  </div>

</section>