<header>
  <nav>
    <a href="/" class="logo" title="Site Name">
      <img src="/assets/img/logo.png" alt="Site Name">
      <span>Name</span>
    </a>
    <ul id="responsive-menu">
      <div>
        <li><a href="/page">Page</a></li>
        <li><a href>Item 2</a></li>
        <li><a href>Item 3</a></li>
      </div>
      <!-- Main item -->
      <li><a href="/contact.html" class="btn">Contact</a></li>
      <li id="toggle"></li>
    </ul>
  </nav>

  <section>
    <h1><%-h1_title%></h1>
    <p><%-description%></p>
  </section>
</header>